*{
    margin: 0;
    padding: 0;
}
.main{
    background-color:blanchedalmond;
    color:brown;
    text-align: center;
}
.blog{
    border: 1px solid red;
    width: 350fpx;
    display: inline-block;
    background-color: white;
    color: darkcyan;
    margin: 10px;
    padding: 10px;
    text-align: justify;
}